/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* vero: agrego tipografia */
}

/* Estilos del encabezado */
header {
    box-sizing: content-box;  
    background-color: rgb(7, 41, 18);    /* vero: Color verde para el header (opcional) */
    display: flex;
    align-items: center;
    height: 10vh;
}

header img {
    height: 50px;
    margin: 5px;
}

/* Estilos del botón de menú */
header input[type="checkbox"] {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
    font-size: 24px;
    color: rgb(151, 231, 99);
}

/* Estilos de la navegación */
header nav {
    padding: 0 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

header nav a {
    margin-left: 50px; /* vero: agrego espacio entre los enlaces */
    color: rgb(151, 231, 99); /* vero: Color verde para el header (opcional) */
    text-decoration: none;
    font-size: 14px;   /*vero: cambio tamaño tipografia*/
}

header nav a:hover {
    color: rgb(255, 255, 255);
}

/* Matias: Estilos del contenido principal */
section {
    background-image: url(../img/sport-running-00.jpg);
    background-size: cover;
    background-position: center;
    height: 83vh;
    transition: background-image 2s;   /*transición entre imágenes*/
}

/* Matias: Frases en la sección principal */
section p {
    width: 28vw;
    font-size: 2.5rem;
    font-style: italic;
    padding-left: 4vw;
    padding-top: 7vh;
}

/* Estilos del footer */
footer {
    background-color: #073d12; 
    color: #97e763; 
    text-align: center; 
    padding: 20px 0; 
    width: 100%; 
}

footer a {
    color: #97e763; 
    text-decoration: none; 
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline; 
}


/* Media query para pantallas pequeñas */ /*vero: agrego: responsive*/
@media screen and (max-width: 768px) {
    header label {
        display: block;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(7, 41, 18);
        text-align: center;
    }

    header nav.active {
        display: flex;
    }

    header nav a {
        display: block;
        padding: 10px 0;
    }
}

/* Estilos rectángulo h1 *//*vero: agrego: rectangulos*/
.rectangulo-h1 {
    background-color: rgb(0, 128, 0);
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    height: 7vh;
}

.rectangulo-h2 {
    background-color: rgb(151, 231, 99); 
    color: rgb(7, 41, 18); 
    text-align: center; 
    padding: 5px;
    margin: 0; 
}

/* Estilos grilla *//*vero*/
.grilla {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

/* Estilos elem grilla *//*vero*/
.grilla a {
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos 1 y 8 *//*vero*/
/* .grilla div:first-child,
.grilla div:last-child {
    background-color: transparent;
} */

/* Estilo imágenes *//*vero*/
.grilla img {
    max-width: 50%;
    height: auto;
}
