/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* vero: agrego tipografia */
}

/* Estilos del encabezado */
header {
    box-sizing: content-box;  
    background-color: rgb(7, 41, 18); /* Color verde para el header (opcional) */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinear elementos hacia los extremos */
    height: 10vh;
    padding: 0 20px; /* Agregar espaciado a los extremos del encabezado */
}

header img {
    height: 50px;
    margin: 5px;
}

/* Estilos del botón de menú */
header input[type="checkbox"] {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
    font-size: 24px;
    color: rgb(151, 231, 99);
    margin-right: 10px;
}

/* Estilos de la navegación */
header nav {
    padding: 0 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

header nav a {
    margin-left: 50px; /* Espacio entre los enlaces */
    color: rgb(151, 231, 99); /* Color verde para el header (opcional) */
    text-decoration: none;
    font-size: 14px; /* Tamaño de tipografía */
}

header nav a:hover {
    color: rgb(255, 255, 255);
}

/* Estilo para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent; /* Fondo transparente */
    min-width: max-content; /* Se ajusta al tamaño del texto */
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 0; /* Espaciado interno */
}

.dropdown-content a {
    color: black;
    padding: 8px 12px; /* Espaciado interno */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgreen; /* Color de fondo al pasar el cursor */
    color: black; /* Color del texto al pasar el cursor */
    font-weight: bold; /* Texto en negrita al pasar el cursor */
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Eliminamos el estilo predeterminado del select */
select#actividades {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
}

/* Estilos del contenido principal */
#inicio {
    background-image: url(../img/sport-running-00.jpg);
    background-size: cover;
    background-position: center;
    height: 83vh;
    transition: background-image 2s; /* transición entre imágenes */
}

/* Frases en la sección principal */
#inicio p {
    width: 30vw;
    font-size: 2.5rem;
    font-style: italic;
    padding-left: 4vw;
    padding-top: 7vh;
}

#registro {
    margin: 5vh 5vw;
}

#formRegistro {
    margin: 3vh 0;
}

#formRegistro div {
    margin: 2vh 0;
}

.cbox {
    margin-right: 5vw;
}

.btn {
    margin: 2vh 0;
    padding: 6px 15px;
    font-size: 18px;
    font-weight: bold;
}

#respuestaForm {
    margin: 3vh 0;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(151, 231, 99);
}

/* Estilos del footer */
footer {
    background-color: #073d12;
    color: #97e763;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer a {
    color: #97e763;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    header label {
        display: block;
        order: 1;
        margin-right: 10px;
    }
    
    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(7, 41, 18);
        text-align: center;
    }

    header nav.active {
        display: flex;
    }

    header nav a {
        display: block;
        padding: 10px;
    }

    #inicio p {
        width: 35vw;
        font-size: 1.9rem;
        padding-top: 4vh;
    }    
}

/* Media query para pantallas medianas (tabletas) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Media query para pantallas grandes (ordenadores) */
@media screen and (min-width: 1025px) {
}

/* vero: Estilos rectángulo h1 y h2 */
.rectangulo-h1 {
    background-color: rgb(0, 128, 0);
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    height: 6vh;
}

.rectangulo-h2 {
    background-color: rgb(151, 231, 99); 
    color: rgb(7, 41, 18); 
    text-align: center; 
    padding: 5px;
    margin: 0; 
}

/* vero: Estilos grilla */
.grilla {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.grilla a {
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo imágenes */
.grilla img {
    max-width: 50%;
    height: auto;
}

/* vero: Estilos para grilla Consejos */

.texto-imagen-grilla {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;

    img {
    width: 30%;
    height: auto;
    border-radius: 1px;
    display: block;
    margin: 0 auto;
}
    .texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #333;
    text-align: left;
    margin-top: 0;
    margin-right: 20px;
    }
}
.texto-imagen-grilla .texto h2 {
    margin-bottom: 5px; 
    margin-top: 5px; 
    color: #073d12;
}

.texto-imagen-grilla .texto h3 {
    margin-bottom: 3px; 
    margin-top: 20px; 
    color: #073d12;
}
hr {
    width: 100%; 
    height: 4px; 
    background-color: #97e763 ; 
    margin: 20px 0; 
}




